streamlit
pdfplumber
python-docx
textblob
transformers
torch
sentencepiece
requests
fasttext-wheel
reportlab
pandas
rapidfuzz
python-dateutil
tokenizers
spacy
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
vaderSentiment
altair

